*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin: auto;
    background-image: url(/images/Savin-NY-Website-Background-Web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/* Header style */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: fixed;
}
.navbar {
    color: white;
    text-align: center;
    position: fixed;
    z-index: 2;
}
.navbar ul{
    list-style-type: none;
    background-color: #333;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: inline;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li {
    float: left;
    display: inline;
}
.navbar li a:hover {
    background-color: #111;
  }
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Footer style */

.footer{
	background: #0d1117;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    bottom: 0;
    margin-top: auto;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    position: relative;
    color:#fff!important;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer .footer-left{
	width: 40%;
}


.footer h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer h3 span{
	color:  teal;
}

/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-name{
  color: teal;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  teal;
	text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right{
	width: 20%;
}

.footer .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-socials{
	margin-top: 25px;
}

.footer .footer-socials a{
	display: inline-block;
	font-size: 35px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer .logo {
    max-width: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    margin-bottom: 15px;
}


@media (max-width: 800px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}


/* Home */
.flexbox_container{
    margin: auto;
    margin-top: 70px;
    margin-bottom: 190px;
    border: 5px solid;
    border-radius: 10px;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: self-start;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 15px;
    padding: 20px 10px;
}
.flexbox{
    width: 100px;
    height: 100px;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    background-color: gray;
}
.flexbox_container .flexbox a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    size: 100px 100px;
    align-self: start;;
}

/* Icon */
.icon{
    text-align: left;
    font-size: large;
}
.fa-solid.fa-house.fa-2x{
    color: hsl(0, 0%, 0%);
}
.fa-brands.fa-youtube.fa-2x{
    color: hsl(0, 100%, 50%);
}
.fa-brands.fa-facebook.fa-2x{
    color: hsl(240, 100%, 50%);
}
.fa-solid.fa-house.fa-2x:hover{
    color: hsl(0, 0%, 25%);
}
.fa-brands.fa-youtube.fa-2x:hover{
    color: hsl(0, 100%, 70%);
}
.fa-brands.fa-facebook.fa-2x:hover{
    color: hsl(240, 100%, 70%);
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
button{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
}
.box{
    border: 3px solid; width: 100%; height: 125px;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    text-align: left;
    padding: 12px 20px 12px 40px;
    height: 40px;
}

select{
    font-size: 0.75em;
}

option{
    font-size: 0.75em;
}


#a9{
    display: block;
    text-align: center;
}
#a9 label{
    display: block;
    font-size: 10em;
    text-align: center;
    font-weight: bold;
}
#a9 button{
    background-color: gray;
    color: aqua;
    display: inline-block;
    font-size: 2em;
    text-align: center;
    border-radius: 15px;
}
#a24_number{
    border: solid;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
}
#a24_form{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 3%, 16%);
    text-align: center;
    max-width: 600px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
#dice_roller{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 3%, 16%);
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 90px;
}
#dice_input{
    border: solid;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
}
#dice_image img{
    width: 250px;
    height: auto;
    margin: 10px;
}

#clock-container{ 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 90vh;
    margin-top: 70px;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: beige;
    width: 100%;
}

#container{
    display: flex;
    flex-direction: column; align-items: center; padding: 30px; border: 5px solid;
    border-radius: 50px;
    background-color: white;
    margin-bottom: 80px;
}
#displayStopwatch{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px ☐hsla(0, 0%, 0%, 0.75); margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px; min-width: 125px; border: none; border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#stopBtn{
    background-color: hsl(10, 90%, 50%);
}
#stopBtn:hover{
    background-color: hsl(10, 90%, 40%);
}
#resetBtn{
    background-color: hsl(205, 90%, 60%);
}
#resetBtn:hover{
    background-color: hsl(205, 90%, 50%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-height:500px;
    max-width: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
#displaycalculator{
    max-width: 380px;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: right; 
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: aliceblue;
}
#keyscalculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}
#keyscalculator button{
    width: 70px; 
    height: 70px; 
    border-radius: 50px; 
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem; 
    font-weight: bold; 
    cursor: pointer;
}
#keyscalculator .op{
    background-color: hsl(35, 100%, 55%);
}

#myBox{
    background-color: lightgreen;
    width: 300px;
    height: 300px; 
    font-size: 4rem;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: relative;
}
.enabled{
    background-color: hsl(204, 100%, 50%); color: white;
}
.disabled{
    background-color: hsl(204, 23%, 17%); color: white;
}
.hover{
    background-color: gray; color: white;
}

#Rock-Paper-Scissors{
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7rem;
    min-width: 160px; margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%); cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: hsl(200, 100%, 70%);
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 20px;
}
#playerscoreDisplay{
    color: green;
}
#computerscoreDisplay{
    color: red;
}

/* Pokemon */
#pokemonName-input{
    margin-top: 10px;
    text-align: center;
}
#pokemonName-input input{
    margin-top: 70px;
}
/* Pokémon Card */
#pokemon-card {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    display: none;
}

/* Pokémon Image */
#pokemon-image{
    width: 300px;
    height: auto;
    border-right: black dotted;
}
#pokemon-image img {
    width: 100%;
    height: auto;
    align-items: center;
}

#pokemon-name {
    height: 50%;
    background-color: #b3a9ad;
    padding-top: 20px;
}

/* Pokémon Info */
.pokemon-info {
    padding: 20px;
    width: 200px;
    background-color: #f8f8f8;
}
.pokemon-info h4{
    padding: 10px;
    font-weight: bold;
}
.pokemon-info p{
    font-family: monospace;
    padding: 10px;
}

/* Pokémon Name */
#pokemon-name {
    margin: 0;
    font-size: 28px;
    color: #333;
}

/* Pokémon Type */
#pokemon-types img{
    width: 100%;
}

/* Weather */
#weatherForecast{
    font-family: Arial, sans-serif; 
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm .cityInput{
    margin: 20px;
    align-items: center;
    text-align: center;
    height: 40px;
}
.cityInput{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    text-align: left;
    padding: 12px 20px 12px 40px;
    height: 40px;
}
button[type="submit"]{
    padding: 10px 10px; 
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}
button[type="submit"]:hover{
    background-color: hsl(122, 39%, 40%);
}
.weather-card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40,100%,50%));
    padding: 50px;
    box-shadow: 2px 2px 5px ☐hsla(0, 0%, 0%, 0.5);
    width: 75%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 230px;
}
#cityDisplay, #tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
#descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
#weatherEmoji{
    font-size: 4rem;
}